<div class="container bg-white rounded shadow p-4">


  <div class="alert alert-danger" *ngIf="errormessage!=null">
    {{errormessage}}
  </div>
  <div class="alert alert-info" *ngIf="infomessage!=null">
    {{infomessage}}
    <button (click)="goBack()">Weiter</button>
  </div>

  <div class="col-md-6 offset-md-3">
    <h1>Passwort vergessen?</h1>
    <p>Kein problem. Wie lautet Ihre E-Mail Adresse?</p>

    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required/>
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="lastName.errors.required">Bitte gültige E-Mail Adresse eingeben</div>
        </div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" [disabled]="processing">Senden</button>
      </div>
    </form>
  </div>
</div>
