<div class="container bg-white rounded shadow p-4">

  <div class="alert alert-info" *ngIf="infoMessage">
    {{infoMessage}}
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link" id="personaldata-tab" href="#personaldata" role="tab" data-toggle="tab">Meine Daten</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="documents-tab" href="#documents" role="tab" data-toggle="tab">Dokumente</a>
    </li>

    <li class="nav-item" *ngIf="person.organizations.includes('Aktivmitglied')">
      <a class="nav-link" id="repertoire-tab" href="#repertoire" role="tab" data-toggle="tab">Repertoire</a>
    </li>

    <li class="nav-item" *ngIf="person.organizations.includes('Aktivmitglied')">
      <a class="nav-link" id="practice-tab" href="#practice" role="tab" data-toggle="tab">Übungsmaterial</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="settings-tab" href="#settings" role="tab" data-toggle="tab">Einstellungen</a>
    </li>
  </ul>

  <!-- Content Panel -->
  <div id="internal-nav-content" class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="personaldata" aria-labelledby="personaldata-tab">
      <div class="spacing">&nbsp;</div>

      <ng-template #content_adr_data let-modal>
        <form name="form" (ngSubmit)="f_adr_data.form.valid && onAddressDataChangeSubmit()" #f_adr_data="ngForm"
              novalidate>
          <div class="modal-header col-md-12">
            <h4 class="modal-title" id="modal-address-title">Adressdaten bearbeiten</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="gender_female" name="gender" class="custom-control-input" value="FEMALE"
                         [(ngModel)]="model.person.gender">
                  <label class="custom-control-label" for="gender_female">Frau</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="gender_male" name="gender" class="custom-control-input" value="MALE"
                         [(ngModel)]="model.person.gender">
                  <label class="custom-control-label" for="gender_male">Herr</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="gender_na" name="gender" class="custom-control-input" value="NA"
                         [(ngModel)]="model.person.gender">
                  <label class="custom-control-label" for="gender_na">(keine Anrede)</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <input id="company" type="text" class="form-control" name="company" placeholder="Firma"
                       [(ngModel)]="model.person.company" #company="ngModel"
                       [ngClass]="{ 'is-invalid': f_adr_data.submitted && company.invalid }"/>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <input id="title" type="text" class="form-control" name="title" placeholder="Titel"
                       [(ngModel)]="model.person.title" #title="ngModel"
                       [ngClass]="{ 'is-invalid': f_adr_data.submitted && title.invalid }"/>
              </div>
              <div class="form-group col-md-5">
                <input id="firstName" type="text" class="form-control" name="firstName"
                       [(ngModel)]="model.person.firstName"
                       #firstName="ngModel"
                       [ngClass]="{ 'is-invalid': f_adr_data.submitted && firstName.invalid }" required />
                <div *ngIf="f_adr_data.submitted && firstName.invalid" class="invalid-feedback">
                  <div *ngIf="firstName.errors.required">Bitte Vorname eingeben</div>
                </div>
              </div>
              <div class="form-group col-md-5">
                <input id="lastName" type="text" class="form-control" name="lastName" placeholder="Nachname"
                       [(ngModel)]="model.person.lastName" #lastName="ngModel"
                       [ngClass]="{ 'is-invalid': f_adr_data.submitted && lastName.invalid }" required/>
                <div *ngIf="f_adr_data.submitted && lastName.invalid" class="invalid-feedback">
                  <div *ngIf="lastName.errors.required">Bitte Nachnamen eingeben</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <input id="address1" type="text" class="form-control" name="address1" placeholder="Strasse/Nr"
                       title="Strasse/Hausnummer"
                       [(ngModel)]="model.person.address1" #address1="ngModel"
                       [ngClass]="{ 'is-invalid': f_adr_data.submitted && address1.invalid }" required/>
                <div *ngIf="f_adr_data.submitted && address1.invalid" class="invalid-feedback">
                  <div *ngIf="address1.errors.required">Bitte Adresse eingeben</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12" title="Adresse Zusatz" data-toggle="tooltip" data-placement="right">
                <input id="address2" type="text" class="form-control" name="address2"
                       placeholder="Adresse (Zusatzfeld)"
                       [(ngModel)]="model.person.address2" #address2="ngModel"
                       [ngClass]="{ 'is-invalid': f_adr_data.submitted && address2.invalid }"/>
                <div *ngIf="f_adr_data.submitted && address2.invalid" class="invalid-feedback">
                  <div *ngIf="address2.errors.invalid">Bitte korrekten Adresszusatz eingeben</div>
                </div>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <input id="zip" type="text" class="form-control" name="zip" placeholder="PLZ"
                       [(ngModel)]="model.person.zip" #zip="ngModel"
                       [ngClass]="{ 'is-invalid': f_adr_data.submitted && zip.invalid }" pattern="[0-9]*" required/>
                <div *ngIf="f_adr_data.submitted && zip.invalid" class="invalid-feedback">
                  <div *ngIf="zip.errors.invalid">Bitte korrekte PLZ eingeben</div>
                </div>
                <div *ngIf="f_adr_data.submitted && city.invalid" class="invalid-feedback">
                  <div *ngIf="zip.errors.required">Bitte PLZ eingeben</div>
                </div>
              </div>
              <div class="form-group col-md-10">
                <input id="city" type="text" class="form-control" name="city" placeholder="Ort"
                       [(ngModel)]="model.person.city" #city="ngModel"
                       [ngClass]="{ 'is-invalid': f_adr_data.submitted && city.invalid }" required/>
                <div *ngIf="f_adr_data.submitted && city.invalid" class="invalid-feedback">
                  <div *ngIf="city.errors.required">Bitte Ort eingeben</div>
                </div>
              </div>
            </div>

            <div class="form-group" style="margin-top: 10px;">
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary pull-right" [disabled]="processing" type="submit"
                      ><i class="fa fa-save"></i>
                Änderungen
                speichern
              </button>
            </div>
          </div>
        </form>
      </ng-template>

      <div class="card">
        <div class="card-header">Name/Adresse</div>
        <div class="card-body">
          <div *ngIf="person.gender==='MALE'">
            Herr
          </div>
          <div *ngIf="person.gender==='FEMALE'">
            Frau
          </div>
          <div *ngIf="person.gender==='N/A'">
            &nbsp;
          </div>
          <div>
            {{person.company}}
          </div>
          <div>
            {{person.title}}{{person.firstName}} {{person.lastName}}<br/>
            {{person.address1}}<br/>
          </div>
          <div *ngIf="person.address2!=null">
            {{person.address2}}<br/>
          </div>
          <div>
            {{person.zip}} {{person.city}}
          </div>
          <button class="btn btn-primary pull-right" (click)="open(content_adr_data)">Bearbeiten</button>
        </div>
      </div>


      <ng-template #content_cont_data let-modal>
        <div class="modal-header col-md-12">
          <h4 class="modal-title" id="modal-basic-title">Kontakt bearbeiten</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-md-12">

          <form name="formContactData" (ngSubmit)="f_cont_data.form.valid && onContactDataChangeSubmit()"
                #f_cont_data="ngForm" novalidate>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="email">E-Mail</label>
                <input id="email" type="email" class="form-control" name="email" placeholder="Email"
                       [(ngModel)]="model.person.email" #email="ngModel" email
                       [ngClass]="{ 'is-invalid': f_cont_data.submitted && email.invalid }" required disabled/>
                <div *ngIf="f_cont_data.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Bitte gültige E-Mail Adresse eingeben</div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="mobile">Mobiltelefon</label>
                <international-phone-number id="mobile" [(ngModel)]="model.person.mobile" placeholder="Mobiltelefon"
                                            [maxlength]="20"
                                            [defaultCountry]="'ch'" [required]="true" #mobile="ngModel"
                                            name="mobile"
                                            [allowDropdown]="true"
                                            [ngClass]="{ 'is-invalid': f_cont_data.submitted && mobile.invalid }"></international-phone-number>
                <div *ngIf="f_cont_data.submitted && mobile.invalid">
                  <div class="warning">
                    Bitte gültige Telfonnummer eingeben im int. Format: z.b. +41 79xxxxxxx
                  </div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="landline">Festnetz</label>
                <international-phone-number id="landline" [(ngModel)]="model.person.landline" placeholder="Festnetz"
                                            [maxlength]="20"
                                            [defaultCountry]="'ch'" [required]="false" #landline="ngModel"
                                            name="landline"
                                            [allowDropdown]="true"
                                            [ngClass]="{ 'is-invalid': f_cont_data.submitted && landline.invalid }"></international-phone-number>
                <div *ngIf="f_cont_data.submitted && landline.invalid">
                  <div class="warning">
                    Bitte gültige Telfonnummer eingeben im int. Format: z.b. +41 43xxxxxxx
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary pull-right" [disabled]="processing"
                    (click)="validate() && onContactDataChangeSubmit() && modal.close('Save click')"><i
              class="fa fa-save"></i>
              Änderungen
              speichern
            </button>
          </form>
        </div>
      </ng-template>
      <div class="spacing">&nbsp;</div>
      <div class="card">
        <div class="card-header">Kontaktdaten</div>
        <div class="card-body">

          <dl>
            <dt>Mobiltelefon</dt>
            <dd>{{person.mobile}}</dd>
            <dt *ngIf="person.landline!=null">Festnetz</dt>
            <dd *ngIf="person.landline!=null">{{person.landline}}</dd>
            <dt>Email</dt>
            <dd>{{person.email}}</dd>
          </dl>
          <button class="btn btn-primary pull-right" (click)="open(content_cont_data)">Bearbeiten</button>
        </div>
      </div>


      <ng-template #content_bd_data let-modal>
        <div class="modal-header col-md-12">
          <h4 class="modal-title" id="modal-bd-title">Geburtsdatum bearbeiten</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-md-12">
          <form (ngSubmit)="onBirthdayChangeSubmit()" #myForm="ngForm" novalidate>
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
                            [(ngModel)]="modelBirthDate"></my-date-picker>
            <div class="form-group" style="margin-top: 10px;">
              <button class="btn btn-primary pull-right" [disabled]="processing"><i class="fa fa-save"></i>
                Änderungen
                speichern
              </button>
            </div>
          </form>
        </div>
      </ng-template>
      <div class="spacing">&nbsp;</div>
      <div class="card">
        <div class="card-header">Geburtsdatum</div>
        <div class="card-body">
          {{model.person.birthDate | date : "EEEE, dd.MM.yyyy"}}
          <button class="btn btn-primary pull-right" (click)="open(content_bd_data)">Bearbeiten</button>
        </div>
      </div>

    </div>

    <div role="tabpanel" class="tab-pane fade" id="documents" aria-labelledby="documents-tab">
      <div class="container mt-3">
        <h3>Jahresprogramm</h3>
        <table class="table">
          <thead>
          <tr>
            <th scope="col" style="width: 30%">Titel</th>
            <th scope="col" style="width: 60%">Bemerkungen</th>
            <th scope="col" style="width: 10%">Downloads</th>
          </tr>
          </thead>
          <tbody>


          <tr>
            <td>Jahresprogramm {{year_actual}}</td>
            <td>Alle Termine im Jahr {{year_actual}}</td>
            <td>
        <span
          (click)="downloadFile('/api/protected/internal/calendar?year='+year_actual+'&format=PDF', 'application/pdf', year_actual+'.pdf')"
          class="fa fa-file-pdf-o"
          aria-hidden="true"></span>&nbsp;
              <span
                (click)="downloadFile('/api/protected/internal/calendar?year='+year_actual+'&format=XLS', 'application/vnd.ms-excel', year_actual+'.xls')"
                class="fa fa-file-excel-o" aria-hidden="true"></span>
            </td>
          </tr>

          <tr>
            <td>Ausblick {{year_next}}</td>
            <td>Alle Termine im Jahr {{year_next}}</td>
            <td>
         <span
           (click)="downloadFile('/api/protected/internal/calendar?year='+year_next+'&format=PDF', 'application/pdf', year_next+'.pdf')"
           class="fa fa-file-pdf-o"
           aria-hidden="true"></span>&nbsp;
              <span
                (click)="downloadFile('/api/protected/internal/calendar?year='+year_next+'&format=XLS', 'application/vnd.ms-excel', year_next+'.xls')"
                class="fa fa-file-excel-o" aria-hidden="true"></span>
            </td>
          </tr>


          </tbody>
        </table>


        <div *ngIf="person.organizations.includes('Aktivmitglied')|| person.organizations.includes('Passivmitglied')">
          <h3>Adresslisten</h3>
          <table class="table">
            <thead>
            <tr>
              <th scope="col" style="width: 30%">Titel</th>
              <th scope="col" style="width: 60%">Bemerkungen</th>
              <th scope="col" style="width: 10%">Downloads</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Aktivmitglieder</td>
              <td>Adressliste aller Mitglieder, die aktiv im Verein mitspielen</td>
              <td>
        <span
          (click)="downloadFile('/api/protected/internal/addresslist?organization=Aktivmitglied&format=PDF', 'application/pdf', 'aktivmitglieder.pdf')"
          class="fa fa-file-pdf-o"
          aria-hidden="true"></span>&nbsp;
                <span
                  (click)="downloadFile('/api/protected/internal/addresslist?organization=Aktivmitglied&format=XLS', 'application/vnd.ms-excel', 'aktivmitglieder.xls')"
                  class="fa fa-file-excel-o" aria-hidden="true"></span>
              </td>
            </tr>

            <tr>
              <td>Vorstand</td>
              <td>Adressliste vom MHZ Vorstand</td>
              <td>
        <span
          (click)="downloadFile('/api/protected/internal/addresslist?organization=Vorstand&format=PDF', 'application/pdf', 'vorstand.pdf')"
          class="fa fa-file-pdf-o"
          aria-hidden="true"></span>&nbsp;
                <span
                  (click)="downloadFile('/api/protected/internal/addresslist?organization=Vorstand&format=XLS', 'application/vnd.ms-excel', 'vorstand.xls')"
                  class="fa fa-file-excel-o" aria-hidden="true"></span>
              </td>
            </tr>
            <tr>
              <td>Passivmitglieder</td>
              <td>Adressliste mit allen Passivmitgliedern vom MHZ</td>
              <td>
        <span
          (click)="downloadFile('/api/protected/internal/addresslist?organization=Passivmitglied&format=PDF', 'application/pdf', 'passivmitglieder.pdf')"
          class="fa fa-file-pdf-o"
          aria-hidden="true"></span>&nbsp;
                <span
                  (click)="downloadFile('/api/protected/internal/addresslist?organization=Passivmitglied&format=XLS', 'application/vnd.ms-excel', 'passivmitglieder.xls')"
                  class="fa fa-file-excel-o" aria-hidden="true"></span>
              </td>
            </tr>

            <tr>
              <td>Ehrenmitglieder</td>
              <td>Adressliste mit allen Ehrenmitgliedern vom MHZ</td>
              <td>
        <span
          (click)="downloadFile('/api/protected/internal/addresslist?organization=Ehrenmitglied&format=PDF', 'application/pdf', 'ehrenmitglieder.pdf')"
          class="fa fa-file-pdf-o"
          aria-hidden="true"></span>&nbsp;
                <span
                  (click)="downloadFile('/api/protected/internal/addresslist?organization=Ehrenmitglied&format=XLS', 'application/vnd.ms-excel', 'ehrenmitglieder.xls')"
                  class="fa fa-file-excel-o" aria-hidden="true"></span>
              </td>
            </tr>


            </tbody>
          </table>
        </div>


        <div *ngIf="person.organizations.includes('Aktivmitglied')|| person.organizations.includes('Passivmitglied')">
          <h3>Protokolle</h3>
          <table class="table">
            <thead>
            <tr>
              <th scope="col" style="width: 30%">Titel</th>
              <th scope="col" style="width: 60%">Bemerkungen</th>
              <th scope="col" style="width: 10%">Downloads</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let staticFile of internalFiles ">
              <td>{{staticFile.title}}</td>
              <td>{{staticFile.description}}</td>
              <td>
        <span
          (click)="downloadFile('/api/protected/internal/download?id='+staticFile.id, staticFile.mimeType, staticFile.title+staticFile.ending)"
          class="fa fa-file-{{staticFile.icon}}-o"
          aria-hidden="true"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>


        <div *ngIf="person.organizations.includes('Aktivmitglied')|| person.organizations.includes('Passivmitglied')">
          <h3>Sonstige Dokumente</h3>
          <table class="table">
            <thead>
            <tr>
              <th scope="col" style="width: 30%">Titel</th>
              <th scope="col" style="width: 60%">Bemerkungen</th>
              <th scope="col" style="width: 10%">Downloads</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let staticFile of staticFiles ">
              <td>{{staticFile.title}}</td>
              <td>{{staticFile.description}}</td>
              <td>
        <span
          (click)="downloadFile('/api/protected/internal/download?id='+staticFile.id, staticFile.mimeType, staticFile.title+staticFile.ending)"
          class="fa fa-file-{{staticFile.icon}}-o"
          aria-hidden="true"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="repertoire" aria-labelledby="repertoire-tab">
      <div class="container mt-3">
        <h3>Repertoire</h3>
        <app-library-list [compositions]="currentCompositions"></app-library-list>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="practice" aria-labelledby="practice-tab">
      <div *ngIf="person.organizations.includes('Aktivmitglied')">
        <table class="table">
          <thead>
          <tr>
            <th scope="col" style="width: 30%">Titel</th>
            <th scope="col" style="width: 60%">Bemerkungen</th>
            <th scope="col" style="width: 10%">Downloads</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let staticFile of practiceFiles ">
            <td>{{staticFile.title}}</td>
            <td>{{staticFile.description}}</td>
            <td>
        <span
          (click)="downloadFile('/api/protected/internal/download?id='+staticFile.id, staticFile.mimeType, staticFile.title+staticFile.ending)"
          class="fa fa-file-{{staticFile.icon}}-o"
          aria-hidden="true"></span>

              <!--
              <audio controls>
                <source src="https://ia902508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3" type="audio/mpeg">
              </audio>
              -->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane fade" id="settings" aria-labelledby="settings-tab">
      <div class="spacing">&nbsp;</div>
      <div class="alert alert-info" *ngIf="changePasswordSuccess">
        {{passwordchange_feedback}}
      </div>

      <div class="card">
        <div class="card-header">Passwort ändern</div>
        <div class="card-body">
          <form name="form" (ngSubmit)="f.form.valid && onPWChangeSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="currentPassword">Aktuelles Passwort:</label>
              <input id="currentPassword" type="password" class="form-control" name="currentPassword"
                     [(ngModel)]="model.currentPassword" #currentPassword="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && (currentPassword.invalid || error_currentpassword) }"
                     required [disabled]="processing || changePasswordSuccess"/>
              <div *ngIf="f.submitted && (currentPassword.invalid || error_currentpassword)" class="invalid-feedback">
                <div *ngIf="currentPassword.invalid && currentPassword.errors.required">Bitte aktuelles Passwort
                  eingeben
                </div>
                <div *ngIf="error_currentpassword">{{error_currentpassword_msg}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword">Neues Passwort:</label>
              <input id="newPassword" type="password" class="form-control" name="newPassword"
                     [(ngModel)]="model.newPassword" #newPassword="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && (newPassword.invalid || error_newpassword)}" required
                     [disabled]="processing || changePasswordSuccess"/>
              <div *ngIf="f.submitted && (newPassword.invalid || error_newpassword)" class="invalid-feedback">
                <div *ngIf="newPassword.invalid && newPassword.errors.required">Bitte neues Passwort eingeben</div>
                <div *ngIf="error_newpassword">{{error_newpassword_msg}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Neues Passwort (Bestätigung):</label>
              <input id="confirmPassword" type="password" class="form-control" name="confirmPassword"
                     [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid || error_confirmpassword }"
                     required [disabled]="processing || changePasswordSuccess"/>
              <div *ngIf="f.submitted && (confirmPassword.invalid || error_confirmpassword)" class="invalid-feedback">
                <div *ngIf="confirmPassword.invalid && confirmPassword.errors.required">Bitte neues Passwort
                  bestätigen
                </div>
                <div *ngIf="error_confirmpassword">{{error_confirmpassword_msg}}</div>
              </div>
            </div>
            <div class="form-group" style="margin-top: 10px;">
              <button class="btn btn-primary" [disabled]="processing || changePasswordSuccess">Senden</button>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>


</div>
