<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="AppCtrl" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <script src="js/angular-locale_de-ch.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">


</head>

<body ng-controller="shop_controller">

<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">&lt;Logo&gt;</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container" ng-controller="shop_controller">
    <h1>Shop</h1>


    <div ng-controller="shop_controller">


        <div class="row" ng-show="process.step==1">
            <div class="col-sm-8">
                <div class="card" ng-repeat="shopitem in shopitems">
                    <div class="card-body">
                        <h5 class="card-title">{{shopitem.name}}: CHF {{shopitem.price}}</h5>
                        <p class="card-text">{{shopitem.description}}</p>
                        <input class="btn btn-primary" ng-click="addItemToCart(shopitem)" value="Kaufen"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" ng-repeat="c in cart">
                    <div class="card-body">
                        <h7 class="card-title">{{c.count}} x {{c.name}}</h7>
                        <p class="card-text">{{c.price*c.count | currency}}</p>
                        <input class="btn btn-link" ng-click="removeItemCart(c)" value="Entfernen" />
                    </div>
                </div>
                Total : {{total | currency}}
                <button type="submit" class="btn btn-primary" ng-click="submitOrder()">Ab die Post!</button>
            </div>
        </div>

        <div class="row" ng-show="process.step==2">
            <div class="col-sm-8 form-group">
                <label for="inputEmail">Email Adresse</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required="true" ng-model="client.email">
                <small id="emailHelp" class="form-text text-muted">Für die Bearbeitung Ihrer Bestellung benötigen wir Ihre Email Adresse.</small>
            </div>
            <div class="col-sm-4">
                <div class="card" ng-repeat="c in cart">
                    <div class="card-body">
                        <h7 class="card-title">{{c.count}} x {{c.name}}</h7>
                        <p class="card-text">{{c.price*c.count | currency}}</p>
                    </div>
                </div>
                Total : {{total | currency}}
                <button type="submit" class="btn btn-primary" ng-click="submitPersonalData()">Ab die Post!</button>
            </div>
        </div>

        <div class="row" ng-show="process.step==3">
                <form class="payment-form col-lg-5 collapse" id="payment-form" action="/public/api/createpayment" method="POST">
                    <input type="hidden" name="amount" value="1000">
                    <input type="hidden" name="currency" value="EUR">
                    <input type="hidden" name="description" value="Easy Payments Guide!!!">

                    <div id="credit-card-fields">
                        <!-- Embedded credit card frame will load here -->
                    </div>

                    <button class='form-control btn btn-success submit-button' type='submit'>Get your "Easy Payments Guide" now for 42â‚¬</button>
                </form>

            <div class="col-sm-4">
                <div class="card" ng-repeat="c in cart">
                    <div class="card-body">
                        <h7 class="card-title">{{c.count}} x {{c.name}}</h7>
                        <p class="card-text">{{c.price*c.count | currency}}</p>
                    </div>
                </div>
                Total : {{total | currency}}
                <button type="submit" class="btn btn-primary" ng-click="submitPersonalData()">Ab die Post!</button>
            </div>
        </div>
    </div>


</div>


</body>

</html>