<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="AppCtrl" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <script src="js/angular-locale_de-ch.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">


</head>

<body ng-controller="shop_controller">

<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">&lt;Logo&gt;</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container" ng-controller="shop_controller">
    <h1>Shop</h1>


    <div ng-controller="shop_controller">

        <!-- Step 1: Display items and allow user to choose items -->

        <div class="row" ng-show="currentStep==1">
            <div class="col-sm-8">
                <div class="card" ng-repeat="shopitem in shopitems">
                    <div class="card-body">
                        <h5 class="card-title">{{shopitem.name}}: CHF {{shopitem.price}}</h5>
                        <p class="card-text">{{shopitem.description}}</p>
                        <input class="btn btn-primary" ng-click="addItemToCart(shopitem)" value="Kaufen"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" ng-repeat="c in cart">
                    <div class="card-body">
                        <h7 class="card-title">{{c.count}} x {{c.name}}</h7>
                        <p class="card-text">{{c.price*c.count | currency}}</p>
                        <input class="btn btn-link" ng-click="removeItemCart(c)" value="Entfernen"/>
                    </div>
                </div>
                Total : {{total | currency}}
                <button type="submit" class="btn btn-primary" ng-click="submitOrder()">Ab die Post!</button>
            </div>
        </div>


        <!--
        Step 2: Once the user has chosen everything, identify the user.
         Scenario 1: User is already authenticated. In that case, we can continue with step 3
         Scenario 2: User has already an account. Allow to enter credentials
         Scenario 3: User is here for the first time. Allow registration
         -->
        <div class="row" ng-show="currentStep==2">
            <div class="panel panel-default">
                <div class="panel-heading">Für bereits registrierte Benutzer</div>
                <div class="panel-body">
                    <form name="form" ng-submit="submitLogin()" role="form">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" ng-model="username"
                                   required/>
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                   ng-model="password" required/>
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
                            <!--img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /-->
                            <!--a href="#!/register" class="btn btn-link">Register</a-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" ng-show="currentStep==2">
            <div class="panel panel-default">
                <div class="panel-heading">Sie sind noch nicht bei uns registriert?</div>
                <div class="panel-body">
                    <form class="form-group" id="registerform">
                        <label for="firstname">Vorname:</label>
                        <input type="text" class="form-control" id="firstname">
                        <label for="lastname">Nachname:</label>
                        <input type="text" class="form-control" id="lastname">
                        <label for="email">E-Mail:</label>
                        <input type="text" class="form-control" id="email">
                        <label for="newpassword">Passwort:</label>
                        <input type="password" autocomplete="passwort" class="form-control" id="newpassword">
                        <label for="confirmpassword">Passwort:</label>
                        <input type="password" autocomplete="passwort" class="form-control" id="confirmpassword">
                        <button type="submit" ng-disabled="registerform.$invalid" class="btn btn-primary">Registrieren
                        </button>
                    </form>

                </div>
            </div>
        </div>

        <div class="row" ng-show="currentStep==3">
            <div class="col-sm-12 form-group">

                <p>Bitte begleichen Sie den Gesamtbetrag von CHF {{total | currency}} mit Ihrer Kreditkarte</p>


                <form class="payment-form col-lg-5 collapse" id="payment-form" action="/public/api/createpayment"
                      method="POST">
                    <input type="hidden" name="amount" value="{{total * 100}}">
                    <input type="hidden" name="currency" value="CHF">
                    <input type="hidden" name="description" value="{{purchaseId}}">

                    <div id="credit-card-fields">
                        <!-- Embedded credit card frame will load here -->
                    </div>

                    <button class='form-control btn btn-success submit-button' type='submit'>Jetzt bezahlen</button>
                </form>
            </div>
            <div class="col-sm-12 form-group">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="c in cart">
                        {{c.count}} x {{c.name}}: {{c.price*c.count | currency}}
                    </li>
                </ul>
                <p class="text-right">Total : {{total | currency}}</p>
            </div>
        </div>


    </div>


</body>

</html>