<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="AppCtrl" xmlns="http://www.w3.org/1999/html">

<head>
</head>

<body ng-controller="transactions_controller">

<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">&lt;Logo&gt;</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container" ng-controller="transactions_controller">
    <h1>Ihre Einkäufe</h1>


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Artikel</th>
            <th scope="col">Download</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="purchase in mypurchases">
            <td>{{purchase.date}}</td>
            <td>
                <div ng-repeat="shopItemPurchase in purchase.shopItemPurchases">
                    {{shopItemPurchase.amount}} x {{shopItemPurchase.item.name}}
                </div>
            </td>
            <td><a href="/api/protected/shop/receipt?id={{purchase.id}}" target="_blank">Download</a></td>
        </tr>
        </tbody>
    </table>


</div>


</body>

</html>