<div class="container bg-white rounded shadow p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>{{hotarticle?.title}}</h3>
        <div [innerHTML]="hotarticle?.text"></div>


        <div *ngIf="hotarticle.events.length>0" class="row card-group">
          <div class="col-12" *ngFor="let event of hotarticle.events">
            <div class="card h-100">
              <div class="card-header">
                {{event.title}}
              </div>
              <div class="card-body">
                <dl class="row">
                  <dt class="col-sm-1"><i class="fa fa-calendar" aria-hidden="true"></i></dt>
                  <dd class="col-sm-11" *ngIf="event.fullDay">{{event.dateStart | date : "EEEE, dd.MM.yyyy"}} Uhr</dd>
                  <dd class="col-sm-11" *ngIf="!event.fullDay">{{event.dateStart | date : "EEEE, dd.MM.yyyy, HH:mm"}}
                    Uhr
                  </dd>

                  <dt class="col-sm-1"><i class="fa fa-map-marker" aria-hidden="true"></i></dt>
                  <dd class="col-sm-11">{{event.location}}</dd>

                  <ng-template ngFor let-file [ngForOf]="event.publicFiles" let-i="index">
                    <dt class="col-sm-1">
                      <i class="fa fa-file-pdf-o" aria-hidden="true" (click)="downloadAttachment(file.id, 'application/pdf')"></i>
                    </dt>

                    <dd class="col-sm-11" *ngIf="file.fileType=='PDF'"
                        (click)="downloadAttachment(file.id, 'application/pdf')">
                      {{file.title}}
                    </dd>
                  </ng-template>

                </dl>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
