<div class="container bg-white rounded shadow p-4">
  <p>Sie möchten uns live hören? Hier haben Sie die Gelegenheit dazu:</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Datum</th>
      <th scope="col">Anlass</th>
      <th scope="col">Ort</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let event of events">
      <td *ngIf="event.isFullDay">{{event.date | date : "dd.MM.yyyy"}}</td>
      <td *ngIf="!event.isFullDay">{{event.date | date : "dd.MM.yyyy, hh:mm"}}</td>
      <td>{{event.title}}</td>
      <td>{{event.location}}</td>
    </tr>
    </tbody>
  </table>
</div>
