<div class="container">
  <nav class="navbar navbar-expand-md navbar-light">
    <a routerLink="home" routerLinkActive="active" class="navbar-left"><img class="mhz_logo"
                                                                            src="{{backendUrl}}/logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="about_us" routerLinkActive="active">Über uns</a>
        </li>
        <li class="nav-item" *ngIf="hotarticle">
          <a class="nav-link" routerLink="news" routerLinkActive="active">{{hotarticle.title}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="calendar" routerLinkActive="active">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="social" routerLinkActive="active">Impressionen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shop" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="internal" routerLinkActive="active"><i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Intern</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
