<div class="container bg-white rounded shadow p-4">


  <div class="alert alert-danger" *ngIf="errormessage!=null">
    {{errormessage}}
  </div>
  <div class="alert alert-info" *ngIf="infomessage!=null">
    {{infomessage}}
  </div>


  <div *ngIf="verified===true">
    <h3>Benutzerkonto erstellen?</h3>

    <p *ngIf="passwordset===false">Wenn Sie möchten, können Sie jetzt ein Benutzerkonto erstellen, so dass Sie z.B. Adressänderungen selber
      machen können. Sie können diesen Schritt aber auch auslassen, wenn Sie lieber kein Benutzerkonto bei uns haben
      möchten. Natürlich können Sie uns Adressänderungen oder Kündigung der Passivmitgliedschaft auch via Kontaktformular zukommen lassen.</p>

    <div class="row" *ngIf="passwordset===false">
      <div class="col-md-6">
        <div class="card h-100 p-2">
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="password">Passwort</label>
              <input id="password" type="password" class="form-control" name="password" [(ngModel)]="model.password"
                     #password="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required/>
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Bitte Passwort eingeben</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password_confirmation">Passwort (Bestätigung)</label>
              <input id="password_confirmation" type="password" class="form-control" name="passwordConfirmation"
                     [(ngModel)]="model.passwordConfirmation" #passwordConfirmation="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && passwordConfirmation.invalid }" required/>
              <div *ngIf="f.submitted && passwordConfirmation.invalid" class="invalid-feedback">
                <div *ngIf="passwordConfirmation.errors.required">Bitte Passwort eingeben</div>
              </div>
              <input type="hidden" formControlName="token" [(ngModel)]="model.token">
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Senden</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100 p-2">
          Ich möchte kein Benutzerkonto erstellen. Ich werde Adressänderungen oder eine Kündigung der
          Passivmitgliedschaft via Kontaktformular mitteilen.
              <button class="btn btn-primary" (click)="continue()">Weiter zur Startseite</button>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="passwordset===true">
      <button class="btn btn-primary" (click)="continue()">Weiter zur Startseite</button>
    </div>
  </div>
</div>
