<ngx-spinner></ngx-spinner>
<div class="container bg-white rounded shadow p-4">

  <h3>Passivmitglied werden</h3>

  <p>Als Passivmitglied helfen Sie mit einem finanziellen Beitrag, dass der Musikverein Harmonie Zürich-Oberstrass
    weiterhin seine kulturellen und gesellschaftlichen Aufgaben wahrnehmen kann.</p>
  <p>Mit einem <b>jählichen Beitrag ab CHF 15.-</b> können Sie uns tatkräftig unterstützen. Als Passivmitglied haben Sie
    zudem das Recht, an der Generalversammlung teilzunehmen. Natürlich nur, wenn Sie das denn auch möchten. Jeweils im Frühjahr erhalten Sie
    Post von uns - dann laden wir nämlich immer alle unsere Passivmitglieder zum Jahreskonzert ein.</p>
  <p>Zum Schluss möchten wir Ihnen noch versichern: Wir sind ein Musikverein und keine Werbeagentur. Nebst der Jahresrechnung und GV-Einladung werden wir Sie nicht mit Werbung belästigen.</p>


  <app-registration></app-registration>

</div>
