<div class="container bg-white rounded shadow p-4">
  <p>Für die Registrierung benötigen wir folgende Angaben:</p>

  <div class="alert alert-danger" *ngIf="errormessage!=null">
    {{errormessage}}
  </div>
  <div class="alert alert-info" *ngIf="infomessage!=null">
    {{infomessage}}
    <button (click)="goBack()">Weiter</button>
  </div>

  <div class="col-md-6 offset-md-3">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group is-invalid">

        <label class="control-label">Anrede</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>

        </div>
        <div class="form-check">
          <input id="genderMale" class="form-check-input" type="radio" required #gender="ngModel" value="male"
                 name="gender" [(ngModel)]="model.gender">
          <label class="form-check-label" for="genderMale">
            Herr
          </label>
        </div>
        <div class="form-check">
          <input id="genderFemale" class="form-check-input" type="radio" required #gender="ngModel" value="female"
                 name="gender" [(ngModel)]="model.gender">
          <label class="form-check-label" for="genderFemale">
            Frau
          </label>
        </div>

        <span class="help-block" *ngIf="f.submitted && gender.invalid">
          Gender is required
        </span>
      </div>
      <div class="form-group">
        <label for="firstName">Vorname</label>
        <input id="firstName" type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"
               #firstName="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required/>
        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
          <div *ngIf="firstName.errors.required">Bitte Vorname eingeben</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Nachname</label>
        <input id="lastName" type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName"
               #lastName="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required/>
        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
          <div *ngIf="lastName.errors.required">Bitte Nachname eingeben</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address1">Adresse</label>
        <input id="address1" type="text" class="form-control" name="address1" [(ngModel)]="model.address1"
               #address1="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && address1.invalid }" required/>
        <div *ngIf="f.submitted && address1.invalid" class="invalid-feedback">
          <div *ngIf="address1.errors.required">Bitte Adresse eingeben</div>
        </div>
      </div>
      <div class="form-group">
        <label for="zip">Postleitzahl</label>
        <input id="zip" type="text" class="form-control" name="zip" [(ngModel)]="model.zip"
               #zip="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && zip.invalid }" required/>
        <div *ngIf="f.submitted && zip.invalid" class="invalid-feedback">
          <div *ngIf="zip.errors.required">Bitte Postleitzahl eingeben</div>
        </div>
      </div>
      <div class="form-group">
        <label for="city">Ort</label>
        <input id="city" type="text" class="form-control" name="city" [(ngModel)]="model.city"
               #city="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required/>
        <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
          <div *ngIf="city.errors.required">Bitte Ort eingeben</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required/>
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Bitte gültige E-Mail Adresse eingeben</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Passwort</label>
        <input id="password" type="password" class="form-control" name="password" [(ngModel)]="model.password"
               #password="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required/>
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required">Bitte Passwort eingeben</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password_confirmation">Passwort (Bestätigung)</label>
        <input id="password_confirmation" type="password" class="form-control" name="passwordconfirm"
               [(ngModel)]="model.passwordconfirm" #passwordconfirm="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && passwordconfirm.invalid }" required/>
        <div *ngIf="f.submitted && passwordconfirm.invalid" class="invalid-feedback">
          <div *ngIf="passwordconfirm.errors.required">Bitte Passwort eingeben</div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Empfang Korrespondenz</label>
        <div class="form-check">
          <input id="channelElectronic" class="form-check-input" type="radio" required #gender="ngModel" value="electronic"
                 name="preferredChannel" [(ngModel)]="model.preferredChannel">
          <label class="form-check-label" for="channelElectronic">
            E-Mail
          </label>
        </div>
        <div class="form-check">
          <input id="channelMail" class="form-check-input" type="radio" required #gender="ngModel" value="mail"
                 name="preferredChannel" [(ngModel)]="model.preferredChannel">
          <label class="form-check-label" for="channelMail">
            Briefpost
          </label>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Senden</button>
        </div>
      </div>
    </form>
  </div>

</div>
