<div class="container bg-white rounded shadow p-4">
  <div class="row">
    <div class="col-sm-8">
      <div class="card mb-2" *ngFor="let shopitem of shopItems">
        <div class="card-header">
          {{shopitem.name}} ({{shopitem.price/100 | currency: 'CHF ' }})
        </div>
        <div class="card-body">
          <p class="card-text">{{shopitem.description}}</p>
          <button class="btn btn-primary" (click)="addItemToCart(shopitem)">
            In den Warenkorb
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">Ihr Warenkorb</div>
        <div class="card-body">
          <ul class="list-group" *ngFor="let c of getCart()">
            <li class="list-group-item">
              {{c.count}} x {{c.name}} <i class="fa fa-minus-square" (click)="removeItemFromCart(c)"></i>
            </li>
          </ul>
          Total : {{ total/100 | currency: 'CHF '}}
          <div>
            <button type="submit" class="btn btn-primary" (click)="submitOrder()" [hidden]="total==0">
              weiter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
