<div class="container-fluid" [ngStyle]="{'background-image': main_background}" style="background-repeat: no-repeat" >
  <div class="jumbotron" style="background: none">
    <div class="container bg-transparent text-white mb-5">
      <h1>Musikverein Harmonie Zürich-Oberstrass</h1>
      <p>
        Demo Website für den Musikverein Harmonie Zürich-Oberstrass!
      </p>
    </div>
  </div>

  <div class="container bg-white rounded shadow p-4" style="margin-top: 600px">
    <div id="cont_aboutus" class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.</p>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Lust zum mitspielen?</h5>
            <p class="card-text">Du spielst ein Instrument und möchtest bei uns mitmachen? Hier findest du mehr
              informationen</p>
            <a class="btn btn-primary" routerLink="/about_us">Mehr</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{hotArticle.title}}</h5>
            <p class="card-text">{{hotArticle.teaser}}</p>
            <a class="btn btn-primary" routerLink="/news">Mehr</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Agenda</h5>
            <p class="card-text">Unsere nächsten Termine:</p>
            <ul class="list-group" *ngFor=" let event of events">
              <li class="list-group-item border-0" *ngIf="!event.isFullDay">
                {{event.date | date : "dd.MM.yyyy"}} : {{event.title}} ({{event.date | date : "hh:mm"}})
              </li>
              <li class="list-group-item border-0" *ngIf="event.isFullDay">
                {{event.date | date : "dd.MM.yyyy"}} : {{event.title}}
              </li>
            </ul>
            <a class="btn btn-primary" routerLink="/calendar">Alle unsere Auftritte</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
