<div class="container-fluid" [ngStyle]="{'background-image': main_background}" style="background-repeat: no-repeat; background-position: center top;">
  <div class="jumbotron" style="background: none">
    <div class="container bg-transparent text-white mb-5">
      <h1 style="color: white">Musikverein Harmonie Zürich-Oberstrass</h1>
      <p>
        mhz-oberstrass.ch
      </p>
    </div>
  </div>

  <div class="container bg-white rounded shadow p-4" style="margin-top: 600px">
    <div id="cont_aboutus" class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Der Musikverein Harmonie Zürich bringt das Oberstrass Quartier zum klingen, inzwischen schon seit {{years_since}} Jahren. Gemeinsam Musizieren, Anlässe und Auftritte organisieren, die Kameradschaft im Verein geniessen - das bestimmt unser Vereinsleben, an dem wir alle grossen Spass haben!</p>
        </div>
      </div>
    </div>


    <div *ngIf="hotArticles?.length>0" class="row">

      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Lust zum mitspielen?</h5>
            <p class="card-text">Sie spielen ein Instrument und möchten Ihr Hobby in einem motivierten und geselligen Verein ausüben? Vielleicht wären wir ja etwas für Sie.</p><p>Hier finden Sie weitere Informationen zu unserem Verein, dem Probebetrieb und wie Sie einmal unverbindlich bei einer Probe vorbeischauen können.</p>
            <a class="btn btn-primary" routerLink="/about_us">Mehr</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{hotArticles[0]?.title}}</h5>
            <p class="card-text">{{hotArticles[0]?.teaser}}</p>
            <a class="btn btn-primary" routerLink="/news">Mehr</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Unsere nächsten Auftritte</h5>
            <app-event-list [events]="events"></app-event-list>
            <a class="btn btn-primary" routerLink="/calendar">Alle unsere Auftritte</a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="hotArticles?.length==0" class="row">

      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Lust zum mitspielen?</h5>
            <p class="card-text">Sie spielen ein Instrument und möchten Ihr Hobby in einem motivierten und geselligen Verein ausüben? Vielleicht wären wir ja etwas für Sie.</p><p>Hier finden Sie weitere Informationen zu unserem Verein, dem Probebetrieb und wie Sie einmal unverbindlich bei einer Probe vorbeischauen können.</p>
            <a class="btn btn-primary" routerLink="/about_us">Mehr</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Unsere nächsten Auftritte</h5>
            <app-event-list [events]="events"></app-event-list>
            <a class="btn btn-primary" routerLink="/calendar">Alle unsere Auftritte</a>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
