<div class="container bg-white rounded shadow p-4">

  <h1>Über uns</h1>
  <h2>Portrait</h2>
  <p>Als Musikverein mit einer über 100-jährigen Vereinsgeschichte spielen wir in Harmoniebesetzung nebst
    traditioneller Blasmusik vor allem Unterhaltungsmusik. So erfreuen wir unser Publikum an unserer Abendunterhaltung,
    unserem Konzert in der Kirche oder Sommerkonzerten im Quartier mit Rock-, Filmmusik bis hin zu modernen Pop Songs.
    Unsere 30 bis 40 Mitglieder sind zwischen 22 und 70 Jahren jung und stehen unter der Leitung von Christoph
    Büchi.</p>

  <h2>Zunftspiel</h2>
  <p>Wir pflegen eine ausgesprochen freundschaftliche Beziehung zur Zunft zu Oberstrass und begleiten diese nicht nur am
    Zürcher Sechseläuten, sondern auch an zwei weitern Anlässen pro Jahr.</p>
</div>


