<div class="container bg-white rounded shadow p-4">

  <p class="">Als Musikverein mit einer über 100-jährigen Vereinsgeschichte spielen wir in Harmoniebesetzung nebst
    traditioneller Blasmusik vor allem Unterhaltungsmusik. So erfreuen wir unser Publikum an unserer Abendunterhaltung,
    unserem Kontert in der Kirche oder Sommerkonzerten im Quartier mit Rock-, Filmmusik bis hin zu modernen Pop Songs.
    Wir pflegen eine ausgesprochen freundschaftliche Beziehung zur Zunft Oberstrass und begleiten diese nicht nur am
    Zürcher Sechseläuten, sondern auch an zwei weitern Anlässen pro Jahr.

    Unsere 30 bis 40 Mitglieder sind zwischen 22 und 70 Jahren jung und stehen unter der Leitung von Christoph
    Büchi.</p>

</div>


